/*
 * base stylesheet for kartograph.js
 *
 * 
 *
 */
 
.kartograph .zoom-control {
	width: 38px;
	height: 60px;
	position: absolute;
	left: 20px;
	top: 20px;
	cursor: pointer;
}

.kartograph .zoom-control .plus {
	position: absolute;
	top: 0;
	left: 0;
	width: 38px;
	height: 30px;
	background: url('zoom.png') 0 0 no-repeat;
}
.kartograph .zoom-control .plus:hover {
	background: url('zoom.png') -38px 0 no-repeat;
}
.kartograph .zoom-control .plus.md {
	background: url('zoom.png') -76px 0 no-repeat;
}
.kartograph .zoom-control .minus {
	position: absolute;
	top: 30px;
	left: 0;
	width: 38px;
	height: 30px;
	background: url('zoom.png') 0 -30px no-repeat;
}
.kartograph .zoom-control .minus:hover {
	background: url('zoom.png') -38px -30px no-repeat;
}
.kartograph .zoom-control .minus.md {
	background: url('zoom.png') -76px -30px no-repeat;
}
